<header>
  <section class="hero">
    <div class="texture-overlay"></div>
    <div class="container">
      <div class="row nav-wrapper">

        <div class="col-md-4 text-left">
          <a class="logo" href="/">tweety-pi</a>
        </div>
        <div class="col-md-8 text-right">
					<iframe
						src="https://platform.twitter.com/widgets/tweet_button.html?size=l&count=none&url=http://www.tweetypi.co&text=Check%20out%20the%20Tweety-Pi%20Wall%20of%20Fame&hashtags=onceinalifetime%2CPiDay%2Ctweetypi"
						width="140"
						height="28"
						title="Twitter Tweet Button"
            scrolling="no"
						style="border: 0; overflow: hidden; height: 120px;">
					</iframe>
				</div>

      <div class="row">
        <div class="col-md-12 text-left tag">
          <p class="lead">On exactly 3.14.15 9:26:53 the world came together for to celebrate Pi Day. Mmmmm.... pi.</p>
          <h1 id="wall-of-fame">Pi Day Wall of Fame</h1>
        </div>

      </div>

      <div class="row hero-content">
        <div class="col-md-12">
          <% User.where.not(avatar_url: nil).order(id: :asc).each do |user| %>
            <a href="http://twitter.com/<%= user.email %>" target="_blank">
              <img src="<%= user.avatar_url.gsub(/_normal/, '_200x200') %>" alt="" class="img-circle">
            </a>
          <% end %>
        </div>
    </div>
  </section>
</header>
